# Django config
DEBUG=
SECRET_KEY=
DATABASE_URL=
ALLOWED_HOSTS=
DJANGO_SETTINGS_MODULE=

# Huey config
HUEY_REDIS_URL=
HUEY_IMMEDIATE=

# Django Fernet Encrypted Fields config
SALT_KEY=

# Circle API config
CIRCLE_API_KEY=
CIRCLE_API_BASE_URL=
CIRCLE_MASTER_WALLET_ID=

# AWS config
BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
PRESIGNED_URL_EXPIRATION=
MAX_FILE_UPLOAD_PER_REQUEST=

# Agora config
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=

# Sharingan config
SHARINGAN_BASE_URL=

# Purestake config
PURESTAKE_API_KEY=
PURESTAKE_ALGOD_URL=
PURESTAKE_INDEXER_URL=
