# Django config
DEBUG=
SECRET_KEY=
DATABASE_URL=
ALLOWED_HOSTS=
DJANGO_SETTINGS_MODULE=

# Huey config
HUEY_REDIS_URL=
HUEY_IMMEDIATE=

# Django Fernet Encrypted Fields config
SALT_KEY=

# Circle API config
CIRCLE_API_KEY=
CIRCLE_API_BASE_URL=
CIRCLE_MASTER_WALLET_ID=
